[tools]
tilt = "0.36.0"
go = "1.24.4"
kind = "0.29.0"
java = "openjdk-21"
helm = "3.19.0"
python = "3.14"
uv = "0.7.13"

[env]
_.python.venv = { path = ".venv", create = true, python = "3.14", uv_create_args = ['--seed']}
_.file = '.env'

[tool_alias]
python3 = "python3.14"

[tasks.gen_go]
run = [
  'echo APP_ID={{arg(name="app_id")}} APP_PORT={{arg(name="app_port")}}',
  'rsync -av templates/go/ apps/{{arg(name="app_id")}}/',
  'find apps/{{arg(name="app_id")}} -type f -exec sed -i "" -e "s/\\\$APP_ID\\\$/{{arg(name="app_id")}}/g" {} +',
  'find apps/{{arg(name="app_id")}} -type f -exec sed -i "" -e "s/\\\$APP_PORT\\\$/{{arg(name="app_port")}}/g" {} +',
]

[tasks.cluster-up]
wait_for = ['cluster-down']
run = [
  'docker run -d --restart=always -p "127.0.0.1:5001:5000" --network bridge --name "kind-registry" registry:2.7 || true',
  './tilt/cluster-up.sh',
]

[tasks.cluster-down]
run = [
  'kind delete cluster',
  'docker rm -f kind-registry || true',
]

[tasks.cluster-rebuild]
depends = ['cluster-down', 'cluster-up']

[tasks.tilt-up]
run = [
  'tilt up',
]

[tasks.tilt-up-e2e]
dir = 'e2e'
run = [
  'tilt up',
]
