dapr-ext-grpc @ git+https://github.com/acroca/dapr-python-sdk.git@cross-app#subdirectory=ext/dapr-ext-grpc
dapr-ext-workflow @ git+https://github.com/acroca/dapr-python-sdk.git@cross-app#subdirectory=ext/dapr-ext-workflow
dapr @ git+https://github.com/acroca/dapr-python-sdk.git@cross-app
flask>=2.3.0
